name: docker CI/CD on Fedora Server

on:
  push:
    branches: ["main"]

jobs:
  build_and_deploy:
    runs-on: self-hosted # Dùng runner của Fedora VM

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Build docker image
        run: docker build -t myapp:latest .

      - name: Stop old container
        run: docker stop myapp || true

      - name: Remove old container
        run: docker rm myapp || true

      - name: Run new container
        run: |
          docker run -d \
            --name myapp \
            -p 1201:80 \
            myapp:latest
